# Stock market in a web site

Use the library pandas_datareader to stream the data directly in a data frame:

In [15]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, output_notebook, output_file, show

start = datetime.datetime(2020,1,1)
end = datetime.datetime(2020, 7, 1)
type(data.DataReader(name="AAPL", data_source ="yahoo", start=start, end=end))

df =data.DataReader(name="AAPL", data_source ="yahoo", start=start, end=end)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,300.600006,295.190002,296.239990,300.350006,33870100.0,298.829956
2020-01-03,300.579987,296.500000,297.149994,297.429993,36580700.0,295.924713
2020-01-06,299.959991,292.750000,293.790009,299.799988,29596800.0,298.282715
2020-01-07,300.899994,297.480011,299.839996,298.390015,27218000.0,296.879883
2020-01-08,304.440002,297.160004,297.160004,303.190002,33019800.0,301.655548
...,...,...,...,...,...,...
2020-06-25,365.000000,357.570007,360.700012,364.839996,34380600.0,364.839996
2020-06-26,365.320007,353.019989,364.410004,353.630005,51314200.0,353.630005
2020-06-29,362.170013,351.279999,353.250000,361.779999,32661500.0,361.779999
2020-06-30,365.980011,360.000000,360.079987,364.799988,35055800.0,364.799988
2020-07-01,367.359985,363.910004,365.119995,364.109985,27684300.0,364.109985

Filterning the data in the data frame where the values in the Close column is higher than in the Open column:

In [16]:
df.index[df.Close > df.Open]

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-08',
               '2020-01-09', '2020-01-13', '2020-01-16', '2020-01-17',
               '2020-01-23', '2020-01-28', '2020-01-30', '2020-02-03',
               '2020-02-04', '2020-02-06', '2020-02-10', '2020-02-12',
               '2020-02-13', '2020-02-14', '2020-02-18', '2020-02-19',
               '2020-02-24', '2020-02-26', '2020-02-28', '2020-03-02',
               '2020-03-04', '2020-03-06', '2020-03-09', '2020-03-10',
               '2020-03-13', '2020-03-16', '2020-03-17', '2020-03-18',
               '2020-03-24', '2020-03-26', '2020-03-30', '2020-04-02',
               '2020-04-06', '2020-04-08', '2020-04-13', '2020-04-14',
               '2020-04-15', '2020-04-22', '2020-04-24', '2020-04-27',
               '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-04',
               '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08',
               '2020-05-11', '2020-05-14', '2020-05-15', '2020-05-18',
               '2020-05-20', '2020-05-22', '2020-05-27', '2020-05-28',
               '2020-06-01', '2020-06-02', '2020-06-03', '2020-06-05',
               '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-15',
               '2020-06-16', '2020-06-18', '2020-06-22', '2020-06-23',
               '2020-06-25', '2020-06-29', '2020-06-30'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [ ]:
p = figure(x_axis_type='datatype', width =1000, height=300)
p.title="Example Candelstick chart"

p.rect()